.placeholder::placeholder {
  color: #ffff !important;
  opacity: 1;
}
.placeholder {
  cursor: text;
  opacity: 1 !important;
  color: #ffff !important;
  cursor: text !important;
  mix-blend-mode: lighten;
}
.placeholder:hover {
  border: 2px solid white;
}
.swiper-container {
  margin-bottom: 10rem;
}
